body {
	background-color: #fff;
	font-family: 'HelveticaNeue-Thin';
	color: #090221;
	font-size: 20px;
}
button {
	border: none;
	outline: none;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	z-index: 90;
	background-color: #090221;
}

#navItem {
    float: left;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-left: 25px;
    background-color: #090221;
    color: #979797;
}

#navItem:hover {
	float: left;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-left: 25px;
    background-color: #090221;
    color: #fff;
}

#navItem:active {
	float: left;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-left: 25px;
    background-color: #090221;
    color: #fff;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

#logo {
	float: left;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    background-color: #090221;
    color: #fff;
}

#blurHeader-container>canvas {
	position: absolute;
}

.transparent {
	opacity: 0.0;
}

.me.container {
	margin-bottom: -320px;
	height: 140px;
	position: relative;
	top: 60px;
}

.me.container>div {
	text-align: center;
	height: 60px;
	background-color: transparent;
	border: none;
	padding-top: 60px;
	margin-bottom: 20px;
	margin-top: 40px;
}

#blurHeader {
	width: 100%;
	height: auto;
    -webkit-filter: blur(30px); /* Chrome, Safari, Opera */
    filter: blur(30px);
}

#blurHeader-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 1;
    -webkit-filter: blur(30px); /* Chrome, Safari, Opera */
    filter: blur(30px);
}

.myTitle {
	width: 100%;
	text-align: center;
	font-size: 72px;
	color: #140335;
	font-family: "HelveticaNeue-Thin";
	margin-bottom: 20px;
}
.my.container {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: solid 1px #160549;
}

p {
	text-align: center;
	margin-bottom: 20px !important;
}

.footer-banner {
	background-color: #fff;
}

.footer-banner .contact {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
}

.footer-banner .icon {
	height: 75px;
	width: 75px;
	margin-right: 45px;
	margin-left: 45px;
	transition: 0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
}

.footer-banner .iconNotSquare {
	height: 75px;
	width: 50px;
	margin-right: 45px;
	margin-left: 45px;
	transition: 0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
}

.footer-banner .icon:hover {
	margin-bottom: 8px;
	margin-top: -8px;
}

.footer-banner .iconNotSquare:hover {
	margin-bottom: 8px;
	margin-top: -8px;
}

p.large {
	margin-top: 40px;
	font-size: 36px;
}

.member {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.member>div>.name {
	font-size: 60px;
	font-family: "HelveticaNeue-UltraLight";
	margin-left: 20px;
	margin-right: 20px;
	color: #fff;
}

.member>div>.position {
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: -10px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: "HelveticaNeue-Thin";
	color: #fff;
}

.member>div>.bio {
	font-size: 20px;
	margin: 20px;
	text-align: left;
	color: #fff;
	line-height: 175%;
}

.capco.member {
	background-color: #160549;
}

.protecode.member {
	background-color: #110047;
}
.redLab.member {
	background-color: #140335;
}
.cineplex.member {
	background-color: #110635;
}
.picture {
	height: 526px;
}
.picture.alignRight {
	left: 0px;
}

.picture.alignLeft {
	right: 0px;
}


.capco>.picture {
	background: url(../img/capco_logo.png) no-repeat;
	background-size: auto 500px;
	background-position: left 100px bottom;
}
.redLab>.picture {
	background: url(../img/manulife_logo.png) no-repeat;
	background-size: auto 500px;
	background-position: right 150px bottom;
}

.protecode>.picture {
	background: url(../img/protecode_logo.png) no-repeat;
	background-size: auto 500px;
	background-position: left 125px bottom;
}

.cineplex>.picture {
	background: url(../img/cineplex_logo.png) no-repeat;
	background-size: auto 500px;
	background-position: right 100px bottom;
}

#map {
	max-width: 600px;
	margin: auto;
	height: 400px;
	background-color: #EFEDE4;
}
a {
	color: #098B54;
}
a:hover {
	color: #098B54;
}
a.none {
	text-decoration: none;
}


#searchJob {
	text-align: center;
	position: relative;
	left: 50%;
	margin-left: -180px;
	margin-top: 40px;
	margin-bottom: 80px;
	width: 360px;
	height: 70px;
	background-color: #098B54;
	font-family: "HelveticaNeue-UltraLight";
	color: #161616;
	font-size: 40px;
	border: none;
	border-radius: 3px;
}

#searchJob:hover, #searchJob.focus {
	background-color: #83E6BE;
}
footer {
	width: 100%;
	height: auto;
	background-color: #098B54;
}

#twitter {
	width: 60px;
	height: 60px;
	background: url(../img/twitter.svg) no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	position: absolute;
	margin-left: -50px;
	left: 50%;
	margin-top: 20px;
}
#footerTitle {
	margin-top: 40px;
	width: 100%;
	text-align: center;
	color: #161616;
	font-size: 30px;
}

.copyright {
	text-align: right;
	color: #161616;
	font-size: 12px;
	margin-top: 40px;
}
.thumb {
	height: 300px;
	background-color: grey;
}
.gallery {
	margin-top: 40px;
}
.photo {
	height: 50%;
	border: solid 1px #161616;
	background-color: #160549;
}

.pic {
	height: 50%;
	border: solid 1px #161616;
	background-color: #fff;
}
.photo.focus {
	border: solid 1px #337ab7;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(51,122,183,1);
	-moz-box-shadow: 0px 0px 2px 2px rgba(51,122,183,1);
	box-shadow: 0px 0px 2px 2px rgba(51,122,183,1);
}

.photo:hover {
	opacity: 0.7;
}

.pic:hover {
	opacity: 0.3;
}

.riddles {
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: -10px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: "HelveticaNeue-Thin";
	color: #090221;
	text-align: center;
}

.modal-text {
	text-align: center;
}

.modal-header {
	background-color: #160549;
}

.modal-button {
	background-color: #160549;
	color: #fff;
}

.modal-title {
	color: #fff;
}